body {
    margin: 0x;
    padding: 0;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.home_Main_Menu_Bar{
    background-color: skyblue ;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.home_Main_Menu_Button{
    list-style: none;
    float: left;
    width: 150px;
    line-height: 50px;
    text-align: center;
    color: white;
    border: 1px solid red;
}