body {
    background-color: #f8f9fa;
    color: #202122;
    overflow-y: scroll;
}

.wiki-main-home-incontainer {
    position: relative;
    z-index: 0;
    max-width: 99.75em;
    min-width: 31.25em;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.05px 1.5em;
    background-color: #ffffff;
    box-sizing: border-box;
}