*{
    padding: 0;
    margin: 0;
}
.container{
    width: 400px;
    border: 1px solid gray;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
/*div{
    border: 1px solid gray;
}
header{background-color: rgb(211, 17, 17) margin: 0 20px;} */
/* main{background-color: rgba(255, 255, 0, 0.411);} */

/* .hhtb{
    width: 100%;

}
.hhname{
    
}
.textbox{
    border: 1px solid red;
}*/
/* .hhtb{ */
    /* background-color: aqua; */
    /* margin: 20px 0; */
    /* padding: 20px; */
    /* display: flex; */
    /* text-align: center; */
    /* width: 30px; */
    /* height: 30px; */
/* } */
/*.home main textbox{
    background-color: blueviolet;
} */
.mainB_1, .mainB_2{
    border: 1px solid black;
    margin: 20px;
    width: 350px;
    flex-flow: row wrap;

}
.textbox{
    border: 1px solid gray;
    margin: 20px;
    height: 30px;
}
